@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 15px 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav {
  font-weight: 600;
}

nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #23334B !important;
  list-style-type: none;
  margin: 0px 8px;
}

nav li a:hover {
  color: #02AAAA !important;
}

/*FOR*/
.caja-1 {
  width: 7rem;
  height: 7rem;
}

.caja-2 {
  width: 14rem;
  height: 14rem;
}

.caja-3 {
  width: 21rem;
  height: 21rem;
}

/* index.html */
main {
  margin: 0;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-height: 70vh;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  color: #23334B;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  color: #02AAAA;
  font-weight: 600;
}

h3 {
  color: #23334B;
}

h4 {
  color: #02AAAA;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  color: #23334B;
  font-weight: 400;
}

/* HERO SECTION */
.heroSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60vh;
  background-image: url("../imagenes/imagen-home.png");
  max-width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .heroSection {
    height: 80vh;
    margin: 0px;
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .heroSection {
    height: 90vh;
    margin: 0px;
    width: auto;
  }
}

@media screen and (max-width: 320px) {
  .heroSection {
    height: 100vh;
    margin: 0px;
    width: auto;
  }
}

.heroSection .imagenPerfil {
  border-radius: 50%;
  width: 300px;
}

@media screen and (max-width: 768px) {
  .heroSection .imagenPerfil {
    width: 250px;
  }
}

@media screen and (max-width: 480px) {
  .heroSection .imagenPerfil {
    width: 200px;
  }
}

.herotext {
  color: #ffffff;
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  .herotext {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .herotext {
    font-size: 22px;
  }
}

/* CARDS */
.container1 {
  background-color: #ededed;
  padding: 100px;
}

.container1 {
  padding: 100px;
}

.cardb {
  padding: 8px;
  margin: 20px;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 3px 0px #a6a6a6;
  box-shadow: 2px 2px 3px 0px #a6a6a6;
  height: 200px;
}

.iconservice {
  width: 85px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2323334B' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2323334B' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* PORTFOLIO */
.margenTitulo {
  margin-left: 20px;
}

/* FOOTER */
.footerSection {
  grid-area: foot;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #02AAAA;
  height: 100px;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.iconosRedes {
  margin: 0px 8px;
  width: 40px;
}

/* sobre-mi.html */
.hola {
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #03d7d7;
}

.iconosSobreMi {
  margin: 0px 8px;
  width: 80px;
}

.iconosSobreMi2 {
  margin: 8px;
  padding-bottom: 50px;
  width: 80%;
}

.imagenSobreMi {
  width: 80%;
}

.frase2 {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  text-align: center;
  padding: 50px;
  color: #02AAAA;
  background: #ededed;
}

/* portfolio.html */
.container4 {
  padding: 100px;
}

.box9 .box-content,
.box9 .icon li,
.box9 img {
  -webkit-transition: all .35s ease 0s;
  transition: all .35s ease 0s;
}

.box9,
.box9 .title {
  width: 100%;
  font-size: 22px;
}

.box9 {
  background: #fff;
  text-align: center;
  position: relative;
  padding: 2px;
}

.box9 img {
  width: 100%;
  height: auto;
}

.box9:hover img {
  opacity: .5;
}

.box9 .box-content {
  padding: 30px 10px 30px 0;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.box9:hover .box-content {
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  opacity: 1;
}

.box10 .icon li a,
.box9 .icon li a {
  line-height: 38px;
  border-radius: 10%;
}

.box9 .icon {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 40%;
}

.box9 .icon li {
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.box9:hover .icon li {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.box9:hover .icon li:first-child {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.box9:hover .icon li:nth-child(2) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.box9 .icon li a {
  display: block;
  padding: 5px 20px;
  background: #23334B;
  font-size: 15px;
  color: #fff;
  transition: all .35s ease 0s;
  -webkit-transition: all .35s ease 0s;
}

.box9 .icon a:hover {
  background: #fff;
  color: #23334B;
  text-decoration: none;
}

.titulo {
  text-align: center;
  font-size: 30px;
}

.portfolioSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.trabajos {
  height: 500px;
  padding: 0px 20px;
}

.trabajos img {
  width: 300px;
}

.trabajos p {
  width: 300px;
}

.frase {
  background: #03d7d7;
  background: -webkit-gradient(linear, left top, right top, from(#03d7d7), color-stop(35%, #02AAAA), to(#305da1));
  background: linear-gradient(90deg, #03d7d7 0%, #02AAAA 35%, #305da1 100%);
  color: #ffffff;
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  padding: 80px;
  text-align: center;
}

/* experiencia.html */
.tituloExp {
  text-align: center;
}

.tituloPpal {
  color: #02AAAA;
}

.contenido {
  color: #23334B;
}

.accordion-button:not(.collapsed) {
  color: #fff !important;
  background-color: #23334B !important;
  font-weight: 700;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.tamañovideo {
  width: 40%;
}

/* contacto.html*/
.contacto {
  background-color: #23334B;
  color: #ffffff;
  padding: 30px;
}

.sectionContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 300px;
}

form input[type="text"],
form input[type="email"] {
  width: 400px;
  padding: 3px 10px;
  border: solid #ffffff;
  border-radius: 3px;
  background-color: #ffffff;
  margin: 8px 0;
  display: inline-block;
}

@media screen and (max-width: 480px) {
  form input[type="text"],
  form input[type="email"] {
    width: 200px;
  }
}

form input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #02AAAA;
  border: none;
  -webkit-box-shadow: 3px 3px 15px -6px black;
  box-shadow: 3px 3px 15px -6px black;
}

form input[type="submit"]:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block;
}

fieldset {
  border: none;
}

.h1contacto {
  color: #02AAAA;
  text-align: left;
}

/* 404.html */
.volver {
  background-color: #02AAAA;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 6px;
  margin: 20px;
  text-decoration: none;
}

.centrar {
  text-align: center;
}

.errorTexto {
  text-align: center;
  font-size: 20px;
  color: #23334B;
  padding-top: 28px;
}

.errorImagen {
  opacity: 0.5;
}

.errorImagen:hover {
  opacity: 1.0;
}
/*# sourceMappingURL=styles.css.map */